<!-- <section>
    <div class="about container fluid">
        <div class="row fade-in">
            <h1>DOLLABYTE UTILITY</h1>
        </div>
        <div class="row">
        <div class="col-lg-4" *ngFor="let item of utility;let i = index">
                <div class="icon">
                    <img [src]="item.url" [alt]="item.title" class="img-fluid">
                </div>
                <h3 class="title">{{item.title}}</h3>
                <p>{{item.text}}</p>
            
        </div>

        </div>
    </div>
</section> -->


<!-- code used from Ovent template -->
<section class="team-area-v2 pt-50 pb-50 pr-50 pl-50" id="utility">
<div class="team-sub">
    <div class="container">
        <div class="row">
            <h2 @fade class="slide-in from-right">DOLLABYTE UTILITY</h2>
            <div class="col-lg-4 utility-card">
                <div class="team-sub-item text-center">
                    <div class="icon slide-in from-right">
                        <img src="../../assets/images/Final DollaByte NFT.gif" alt="NFT">
                    </div>
                    <h3 class="title slide-in from-left">2500 NFT Presale</h3>
                    <p class="fade-in">with 100 of them to receive VIP Event invitation to meet with Arthur at his LA Gallery.</p>
                </div>
            </div>
            <div class="col-lg-4 utility-card">
                <div class="team-sub-item text-center">
                    <div class="icon slide-in from-right">
                        <img src="../../assets/images/Final DollaByte NFT.gif" alt="NFT">
                    </div>
                    <h3 class="title slide-in from-left">1 NFT owner</h3>
                    <p class="fade-in">With 100 of them to receive VIP Event invitation to meet with Arthur at his LA Gallery.</p>
                </div>
            </div>
            <div class="col-lg-4 utility-card">
                <div class="team-sub-item text-center">
                    <div class="icon slide-in from-right">
                        <img src="../../assets/images/Final DollaByte NFT.gif" alt="NFT">
                    </div>
                    <h3 class="title slide-in from-left">$DOLLA token</h3>
                    <p class="fade-in">Each minted NFT will receive a select amount of daily tokens of Dollabyte. All royalties collected after the mint will be given to Dollabyte token to buy rare watches. Dollabyte watch collection will be held with Sotheby’s</p>
                </div>
            </div>
            <div class="col-lg-4 utility-card">
                <div class="team-sub-item text-center">
                    <div class="icon slide-in from-right">
                        <img src="../../assets/images/Final DollaByte NFT.gif" alt="NFT">
                    </div>
                    <h3 class="title slide-in from-left">1 NFT owner</h3>
                    <p class="fade-in">Will receive exclusive behind the scenes experience either in Romania or Boston on the set of a blockbuster Hollywood movie.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section> 