<section class="about-area about-area-v1 pt-50 pb-50 pr-50 pl-50" id="about-arthur">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 fade-in">
                <div class="ovent-content-box">
                    <div class="section-title section-title-1">

<h4>Who am I?</h4>
<h2>ARTHUR J WILLIAMS JR</h2>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-6 fade-in">
        <div class="ovent-content-box">
<div class="ovent-img">
    <img src="../../../assets/images/arthur-1.jpeg" class="img-fluid about-img" alt="Picture of Arthur">
</div>
</div>
</div>
<!-- TO DO: include another image of Arthur or short bio -->
<div class="col-lg-6">
    <div class="ovent-content-box fade-in">
    <h4 class="col-title">Articles</h4>
            <a class="main-btn fade-in" href="https://robbreport.com/motors/cars/rolls-royce-wraith-custom-art-williams-jr-2820897/">Rolls Royce Article</a>
            <a class="main-btn fade-in" href="https://www.lx.com/money/how-a-master-counterfeiter-went-from-prison-to-the-hollywood-art-scene/36434/">NBC Interview</a>
            <a class="main-btn  fade-in" href="https://www.lamag.com/culturefiles/arthur-j-williams-davincis-gallery/">LA Magazine</a>
            <a class="main-btn fade-in" href="https://www.forbes.com/2009/06/29/art-of-making-money-opinions-book-review-jason-kersten.html?sh=1b0c12b566c0">Forbes</a>
            <a class="main-btn fade-in" href="https://www.cnbc.com/id/100000024">CNBC American Greed Episode 46</a>
            <a class="main-btn" href="https://sociallifemagazine.com/2021/12/06/an-inside-look-highlights-from-art-basel-2021-nfts-art-crypto-music-more-take-over-miami/">Miami Art Basel Article #1</a>
            <a class="main-btn fade-in" href="https://theknockturnal.com/art-basel-in-review-event-highlights-from-miami-2021-art-crypto-music-more-the-hottest-parties-and-exhibits/">Miami Art Basel Article #2</a>
    </div>
</div>
</div>
<div class="row">
        <div class="col-lg-6 fade-in">
            <div class="ovent-img">
                <img src="../../../assets/images/arthur-4.jpeg" class="img-fluid about-img" alt="Picture of Arthur">
            </div>
            </div>
        <div class="col-lg-6">
            <div class="ovent-content-box fade-in">
                    <h4 class="col-title">Videos</h4>
                            <a class="main-btn main-btn-2 fade-in" href="https://youtu.be/hIylnZ7lCEM">Vice Interview</a>
                            <a class="main-btn main-btn-2 fade-in" href="https://www.youtube.com/watch?v=uOHN6SNabCQ&feature=youtu.be">Crypto Auction Video</a>
                            <a class="main-btn main-btn-2 fade-in" href="https://youtu.be/3autq7pbc78">Arthur's Passion And Why NFTs</a>
                            <a class="main-btn main-btn-2 fade-in" href="https://youtu.be/uyQZzsabwvQ">Arthur's Real Life Art Pieces</a>
                            <a class="main-btn main-btn-2 fade-in" href="https://youtu.be/Is3C4nyFdds">Beverly Hills Gallery Opening</a>
                    
                            <a class="main-btn main-btn-2 fade-in" href="https://sociallifemagazine.com/2021/12/06/an-inside-look-highlights-from-art-basel-2021-nfts-art-crypto-music-more-take-over-miami/">Miami Art Basel Article #1</a>
                       
                            <a class="main-btn main-btn-2 fade-in" href="https://www.youtube.com/watch?app=desktop&v=Tvy4s9GSLVc&feature=youtu.be">Mohammed Ali Foundation Auction</a>
                
                    </div>
                    </div>
            </div>
</div>
</section>


