.about-area-v1 {
	background: #fff;
}
.about-img {
    border-radius: 50%;
    border: 1px solid white;
}

a.about {
    margin: 3px;
}

.about-links, .articles, .videos {
    text-align: center;
}

h4 {
    color: #000;
}
.col-title {
    text-align: center;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

