.about-area-v1 {
	background: #fff;
}
.about-img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 1px solid white;
}

a.about {
    margin: 3px;
}

.about-links, .articles, .videos {
    text-align: center;
}

h4 {
    color: #000;
}


