.about-area-v1 {
        background-image: linear-gradient(rgb(45, 45, 59), rgb(29, 29, 59)), url("../../../assets/images/LT_0001_RR-copy.png"), url("../../../assets/images//LT_0002_L-copy.png");
          background-size: contain, contain, contain;
          background-repeat: repeat-y;
          background-blend-mode: lighten;
}
.about-img {
    max-width: 350px;
}

.about-links, .articles, .videos {
    text-align: center;
}
.col-title {
    text-align: center;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

