<section class="team-area-v2 pt-50 pb-50 pl-40 pr-40" id="team">
    <div class="team-main-item">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 fade-in">
                    <div class="section-title section-title-1 text-center">
                        <h1>MEET THE TEAM</h1>
                    </div>
                </div>
            </div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="team-item mt-40">
            <div class="team-thumb">
                <img src="../../../assets/images/arthur-2.jpeg" alt="Team Member 1" class="slide-in from-left">
                <hr class="fade-in">
                <i class="fas fa-plus fade-in"></i>
                <i class="fab fa-linkedin fade-in"></i>
                <i class="fab fa-twitter fade-in"></i>
                <i class="fab fa-instagram fade-in"></i>
            </div>
            <div class="team-content text-center fade-in">
                <h3 class="title">
                    Team Member 1
                </h3>
                <span>CEO</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="team-item mt-40">
            <div class="team-thumb">
                <img src="../../../assets/images/arthur-4.jpeg" alt="Team Member 2" class="slide-in from-right">
                <hr class="fade-in">
                <i class="fas fa-plus fade-in"></i>
                <i class="fab fa-linkedin fade-in"></i>
                <i class="fab fa-twitter fade-in"></i>
                <i class="fab fa-instagram fade-in"></i>
            </div>
            <div class="team-content text-center fade-in">
                <h3 class="title">
                    Team Member 2
                </h3>
                <span>Developer</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="team-item mt-40">
            <div class="team-thumb">
                <img src="../../../assets/images/arthur-2.jpeg" alt="Team Member 3" class="slide-in from-left">
                <hr class="fade-in">
                <i class="fas fa-plus fade-in"></i>
                <i class="fab fa-linkedin fade-in"></i>
                <i class="fab fa-twitter fade-in"></i>
                <i class="fab fa-instagram fade-in"></i>
            </div>
            <div class="team-content text-center fade-in">
                <h3 class="title">
                    Team Member 3
                </h3>
                <span>Graphic Designer</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="team-item mt-40">
            <div class="team-thumb">
                <img src="../../../assets/images/arthur-4.jpeg" alt="Team Member 4" class="slide-in from-right">
                <hr class="fade-in">
                <i class="fas fa-plus fade-in"></i>
                <i class="fab fa-linkedin fade-in"></i>
                <i class="fab fa-twitter fade-in"></i>
                <i class="fab fa-instagram fade-in"></i>
            </div>
            <div class="team-content text-center fade-in">
                <h3 class="title">
                    Team Member 4
                </h3>
                <span>Developer</span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>