<section class="banner-area banner-area-v1 bg_cover" [style.background-image]="'url(src/assets/images/Final DollaByte NFT.gif)'">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="banner-content text-center">
    <span>Arthur J Williams Jr Presents: <h1>DOLLABYTE</h1></span>
    <p>World Famous Currency Artist ARTHUR J WILLIAMS JR launches his 1st NFT Project.</p>
    <!-- add the external / 3rd party link to Gleam-->
    <a class="main-btn" href="#"><i class="fal fa-angle-right"></i>Join the Whitelist</a>
    </div>
    </div>
    </div>
    </div>
    </section>

    <section class="about-area about-area-v1 pt-120 pb-120" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="ovent-img">
                      <img src="../../assets/images/dollabyte-logo-v2.png" class="img-fluid about-dollabyte-img" alt="">
                  </div>
              </div>
              <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-1">
                      <h4>What is</h4><h2>Dollabyte</h2>
                    </div>

    <h4><b>DollaByte</b> NFT is the first official NFT by ARTHUR J WILLIAMS JR. <b>DollaByte</b> are 10,000 unique NFTs launching on the Terra Blockchain.
        This is an exclusive project with various utility across the board.</h4>

        <p><b>The NFT Breakdown</b></p>
            <p>This is an animated NFT built with the concept of cryptography in mind. Think inside the $100 bill each components of what it takes to operate. That value no longer has the same value.  Blockchain has allowed cryptocurrencies and the real world art to come and hold value all on the same bill. The signature of the famous creators, the unique math based serial number, the value of both the cryptocurrency and art on either side now shows the real value of the $100 Bill.</p>
 <p>Each digitally generated and by the Treasury of the Metaverse Arthur J Williams Jr.</p>
</div>
              </div>
          </div>
          </div>
</section>
