
    <div class="header-navigation" id="sticky-header">
            <div class="nav-container d-flex align-items-center justify-content-between" [ngClass]="visible ? '' : 'breakpoint-on'" (window:resize)="detectHeader()">
                
                <div class="brand_logo">
                    <a routerLink="/"><img src="../../assets/images/dollabyte-logo-v2.png" class="img-fluid logo" alt=""></a>
                    <span>DollaByte</span>
                </div>
                <div class="nav-menu" [ngClass]="navMethod ? '' : 'menu-on'">
                    
                    <div class="navbar-close"  (click)="toggleNav()">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    
                    <nav class="main-menu">
                        <ul>
                            <li class="menu-item">
                                <a href="#">Home</a>
                                </li>
                                <li class="menu-item">
                                    <a class="nav-link" (click)="navigateToAbout()">About</a>
                                    </li>
                            <li class="menu-item">
                                <a class="nav-link" (click)="navigateToArthur()">Arthur</a>
                            </li>
                            <li class="menu-item">
                                <a class="nav-link" (click)="navigateToUtility()">Utility</a>
                                </li>
                            <li class="menu-item">
                                <a class="nav-link" (click)="navigateToRoadmap()">Roadmap</a>
                            </li>
                            <li class="menu-item">
                                <a class="nav-link" (click)="navigateToTeam()">Team</a>
                                </li>
                        </ul>
                    </nav>
                    <div class="nav-pushed-item">
                        <div class="navbar-btn">
                            <a class="main-btn" routerLink="/contact"><i class="fal fa-ticket"></i> Connect Wallet</a>
                        </div>
                    </div>
                </div>
                <div class="nav-push-item" [ngClass]="visible ? '' : 'd-none'" (window:resize)="detectHeader()">
                    <div class="navbar-btn">
                        <a class="main-btn" routerLink="/contact"><i class="fal fa-ticket"></i> Connect Wallet</a>
                    </div>
                </div>
              
                <div class="navbar-toggler" [ngClass]="navMethod ? '' : 'active'" (click)="toggleNav()">
                    <span></span><span></span><span></span>
                </div>
            </div>
        </div>



<!--
<header>
    <a href="#" class="site-logo" aria-label="homepage">
        <img src="../../assets/images/dollabyte-logo-v2.png" class="img-fluid logo" alt="">
    </a>
      <nav class="main-nav">
        <ul class="nav__list">
          <li class="nav__list-item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__list-item">
            <a href="#" class="nav__link" (click)="navigateToAbout()">About</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__link" (click)="navigateToArthur()">Arthur</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__link" (click)="navigateToUtility()">Utility</a>
          </li>
          <li class="nav__list-item">
              <a href="#" class="nav__link" (click)="navigateToRoadmap()">Roadmap</a>
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__link" (click)="navigateToTeam()">Team</a>
              </li>
        </ul>
      </nav>
      <nav class="account">
        <ul class="nav__list">
          <li class="nav__list-item">
            <a
              class="nav__link nav__link--btn nav__link--btn--highlight"
              href="#"
              >Connect Wallet</a
            >
          </li>
        </ul>
      </nav>
</header> -->