<section class="about-area about-area-v1 pt-120 pb-120" id="roadmap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 fade-in">
                <div class="section-title section-title-1">
                    <h1 class="fade-in">ROADMAP</h1>
                    <!-- TO DO: add roadmap contents -->
                  </div>
                  </div>
                  </div>
                  <div class="container-2">
                  <div class="timeline">
                      <ul>
                          <li>
                              <div class="timeline-content">
                                <h3 class="title fade-in">Launch DollaByte</h3>
                                <p>January 2022</p>
                              </div>
                          </li>
                          <li>
                            <div class="timeline-content">
                              <h3 class="title fade-in">Benjamin Derivative Project</h3>
                              <p>30 days post 1st launch</p>
                            </div>
                        </li>
                      </ul>
                  </div>
                  </div>


                  <!-- <div class="row justify-content-center fade-in">
                      <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="vl"></div>
                        <div class="vc">
                            <h3 class="title">Launch DollaByte</h3>
                              <p>January 2022</p>
                        </div>
                        <div class="vl"></div>
                        <div class="vc-2">
                            <h3 class="title">Benjamin Derivative Project</h3>
                              <p>30 days post initial launch</p>
                        </div>
                    </div>
                </div>
            -->
                </div>
                </section>

<!--
                          <div class="roadmap-img">
                              <img src="../../../assets/images/dollabyte-logo-v2.png" class="img-responsive roadmap-img" [alt]="item.phase">
                          </div>
                          <div class="content">
                              <h3 class="title">{{item.title}}</h3>
                              <p>{{item.launch}}</p>
                            </div>
                      </div>

                  </div>
                  </div>
</section>
-->