<!-- Banner with Dollabyte by Artuhr J 
<div class="banner">
<div class="alert alert-dark" role="alert">
  DollaByte By ARTHUR J WILLIAMS JR
</div>
</div>
-->

<!-- Navigation items -->
<app-header></app-header>

<!-- What is Dollabyte -->
<app-dollabyte></app-dollabyte>

<!-- Dollabyte Utility -->
<app-utility></app-utility>

<!-- Roadmap -->
<app-roadmap></app-roadmap>

<!-- Who is Arthur -->
<app-about></app-about>

<!-- Meet the Team -->
<app-team></app-team>

<!-- FAQ -->

<!-- Footer -->
<app-footer [layout]="classname"></app-footer>

<app-back-to-top></app-back-to-top>