<!--
<section>
  <div class="home-intro">
  <span class="banner-title">Arthur J Williams Jr Presents: <h1>DOLLABYTE</h1></span>
      <p>World Famous Currency Artist ARTHUR J WILLIAMS JR launches his 1st NFT Project.</p>
      </div>
</section>
-->


<div class="banner-area-v1 se-pre-con">           
         <div class="banner-content text-center">
      <h1>Arthur J Williams Jr Presents: DOLLABYTE</h1>
      <p>World Famous Currency Artist ARTHUR J WILLIAMS JR launches his 1st NFT Project.</p>
      <div class="row justify-content-center pb-10">
      <div class="col-lg-3 col-md-6 col-sm-12">
      <a class="main-btn twitter fade-in" href="#"><i class="fab fa-twitter"></i>Follow us</a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
      <a class="main-btn discord fade-in" href="#"><i class="fab fa-discord"></i>Join our Discord</a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
      <a class="main-btn fade-in" href="#"><i class="fal fa-angle-right"></i>Join the Whitelist</a>
      </div>
      </div>
      </div>
   
      <!--<div class="mb-5 mb-lg-0 row">
      <div class="px- col-12">
        <div class="mb-4 mb-lg-5 container">
          <div class="row">
            <div class="px-0 col-12">
              <img src="../../../assets/images/Final DollaByte NFT.gif"/>
              </div>
              </div>
              </div>
              </div>
              </div>-->
