<!--
<section>
  <div class="home-intro">
  <span class="banner-title">Arthur J Williams Jr Presents: <h1>DOLLABYTE</h1></span>
      <p>World Famous Currency Artist ARTHUR J WILLIAMS JR launches his 1st NFT Project.</p>
      </div>
</section>
-->


<div class="banner-area-v1">
      <div class="row">
          <div class="col-lg-12">
              <div class="banner-content text-center">
      <span>Arthur J Williams Jr Presents: <h1>DOLLABYTE</h1></span>
      <p>World Famous Currency Artist ARTHUR J WILLIAMS JR launches his 1st NFT Project.</p>
      
      <a class="main-btn twitter fade-in" href="#"><i class="fab fa-twitter"></i>Follow us</a>
      <a class="main-btn discord fade-in" href="#"><i class="fab fa-discord"></i>Join our Discord</a>
      <a class="main-btn fade-in" href="#"><i class="fal fa-angle-right"></i>Join the Whitelist</a>
      </div>
      </div>
      </div>
    </div>