footer {
    background-image: linear-gradient(rgb(45, 45, 59), rgb(29, 29, 59));
	background-size: contain, contain, contain;
	background-repeat: repeat-y;
	background-blend-mode: lighten;
}
span {
    margin-bottom: 30px;
}
