<footer [class]="layout">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="footer-content-area text-center">
                    <div class="content-box">
                        <div class="row">
                            <img src="../../assets/images/Final DollaByte NFT.gif" alt="NFT">
                        <h1>Join the club</h1>
</div>
                        <a class="main-btn twitter fade-in" href="#"><i class="fab fa-twitter"></i>Follow us</a>
      <a class="main-btn discord fade-in" href="#"><i class="fab fa-discord"></i>Join our Discord</a>
      <a class="main-btn fade-in" href="#"><i class="fal fa-angle-right"></i>Join the Whitelist</a>

</div>
    <div class="social-box">
    <span>
        <p>Copyright © 2021</p>
        <p>Idea by Arthur J Williams Jr | Designed & Developed By Jaser Akuly</p>
    </span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <app-back-to-top></app-back-to-top>
</footer>
