<!-- 
<section>
<div class="about container-fluid">
  <div class="row fade-in">
  <h4>What is <span @fade>DollaByte</span>?</h4>
  <p><b>DollaByte</b> NFT is the first official NFT by ARTHUR J WILLIAMS JR. <b>DollaByte</b> are 10,000 unique NFTs launching on the Terra Blockchain.
    This is an exclusive project with various utility across the board.</p>
    </div>
    <div class="row">
      <div class="col-lg-6 fade-in">
      <img src="../../assets/images/dollabyte-logo-v2.png" class="img-fluid about-dollabyte-img slide-in from-left" alt="">
      </div>
      <div class="col-lg-6 fade-in">
      <h3 class="slide-in from-right"><b>The NFT Breakdown</b></h3>
            <p class="slide-in from-right">This is an animated NFT built with the concept of cryptography in mind. Think inside the $100 bill each components of what it takes to operate. That value no longer has the same value.  Blockchain has allowed cryptocurrencies and the real world art to come and hold value all on the same bill. The signature of the famous creators, the unique math based serial number, the value of both the cryptocurrency and art on either side now shows the real value of the $100 Bill.</p>
 <p class="slide-in from-right">Each digitally generated and by the Treasury of the Metaverse Arthur J Williams Jr.</p>
    </div>
    </div>

      </div>
   </section> -->
   
   <section class="team-area-v2 pt-50 pb-55 pl-40 pr-40" id="about-dollabyte">
    <div class="team-sub">
      <div class="container">
          <div class="row">
                <div class="section-title section-title-1">
                 <div><h4 @fade >WHAT IS</h4><h2 @fade>DOLLABYTE?</h2></div>
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 fade-in img-col">
                  <div class="ovent-img slide-in from-left">
                      <img src="../../assets/images/dollabyte-logo-v2.png" class="img-fluid about-dollabyte-img" alt="">
                  </div>
                  </div>
              <div class="col-lg-5 col-md-6 col-sm-12 fade-in">
                <div class="ovent-content-box">


    <h4 class="logo-text slide-in from-right"><b>DollaByte</b> NFT is the first official NFT by ARTHUR J WILLIAMS JR. <b>DollaByte</b> are 10,000 unique NFTs launching on the Terra Blockchain.
        This is an exclusive project with various utility across the board.</h4>
</div>
</div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-16 col-sm-12">
        <div>
        <h3 class="slide-in from-left"><b>The NFT Breakdown</b></h3>
            <p @fade class="slide-in from-right">This is an animated NFT built with the concept of cryptography in mind. Think inside the $100 bill each components of what it takes to operate. That value no longer has the same value.  Blockchain has allowed cryptocurrencies and the real world art to come and hold value all on the same bill. The signature of the famous creators, the unique math based serial number, the value of both the cryptocurrency and art on either side now shows the real value of the $100 Bill.</p>
 <p class="slide-in from-left">Each digitally generated and by the Treasury of the Metaverse Arthur J Williams Jr.</p>
 </div>
</div>
              </div>
          </div>
          </div>
    </section>
