.about-dollabyte-img {
    height: 618px;
    width: 576px;
}

/* from https://codepen.io/StrengthandFreedom/pen/BaaQYqw */

.rotate {
    animation: rotation 5s;
  }
  
  .linear {
    animation-timing-function: linear;
  }
  
  .infinite {
    animation-iteration-count: infinite;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }