.team-area-v2 {
  background-image: linear-gradient(rgb(29, 29, 59), rgb(45, 45, 59)), url("../../../assets/images/LT_0001_RR-copy.png"), url("../../../assets/images//LT_0002_L-copy.png");
	background-size: contain;
	background-repeat: repeat-y;
	background-blend-mode: lighten;
}

.about-dollabyte-img {
    max-width: 50%;
    box-shadow: none;
    padding: 0px;
    margin: 50px 0px;   
}
@media only screen and (max-width: 991px) {
  .about-dollabyte-img {
  max-width: 100%;
  }
}

p {
  color: #fff;
  padding-bottom: 15px;
}

/* from https://codepen.io/StrengthandFreedom/pen/BaaQYqw */

.rotate {
    animation: rotation 5s;
  }
  
  .linear {
    animation-timing-function: linear;
  }
  
  .infinite {
    animation-iteration-count: infinite;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @media only screen and (min-width: 768px) {
    h4.logo-text {
      margin: 50px 0px;
    }
  }

  @media only screen and (max-width: 991px) {
    h4.logo-text{
      margin: 70px 0px;
    }
  }
